.container-adaptive {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // background-color: rgba(6, 59, 128, 0.24);
}

.container-adaptive {
  @media screen and (max-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: cornflowerblue;
  }
}
