:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --active-text-color: #2196f3;
  --background-main-color: #e5e5e5;
  --background-button-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --active-btn-order: #188ce8;
  --main-icon-color: #afb1b8;
  --main-footer-social-icon-color: rgba(255, 255, 255, 0.1);
  --activity-text-background-color: rgba(47, 48, 58, 0.8);
  --backgroung-mosaic-active-color: rgba(33, 150, 243, 0.9);
  --background-modal-color: rgba(0, 0, 0, 0.2);
  --grid-item: 1;
}
/* Color Theme Swatches in Hex */
$My-Color-Theme-1-hex: #131961;
$My-Color-Theme-2-hex: #737ae6;
$My-Color-Theme-3-hex: #2d39e0;
$My-Color-Theme-4-hex: #303461;
$My-Color-Theme-5-hex: #232cad;

/* Color Theme Swatches in RGBA */
$My-Color-Theme-1-rgba: rgba(19, 25, 97, 1);
$My-Color-Theme-2-rgba: rgba(115, 122, 230, 1);
$My-Color-Theme-3-rgba: rgba(45, 57, 224, 1);
$My-Color-Theme-4-rgba: rgba(48, 52, 97, 1);
$My-Color-Theme-5-rgba: rgba(35, 44, 173, 1);

/* Color Theme Swatches in HSLA */
$My-Color-Theme-1-hsla: hsla(235, 67, 22, 1);
$My-Color-Theme-2-hsla: hsla(236, 69, 67, 1);
$My-Color-Theme-3-hsla: hsla(235, 74, 52, 1);
$My-Color-Theme-4-hsla: hsla(235, 33, 28, 1);
$My-Color-Theme-5-hsla: hsla(236, 66, 40, 1);
