.activity {
  background-color: var(--white-color);
}

.activity__box {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
  justify-content: space-between;
}

.activity__title {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.activity__image {
  position: relative;

  & + & {
    margin-left: 30px;
  }
}

.activity__poster {
  display: block;
}

.activity__inscription {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-wrap: wrap;
  width: 100%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;

  color: var(--white-color);
  background: var(--activity-text-background-color);

  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}
