.features {
  background-color: var(--white-color);
}

.features__box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
  align-items: center;
  padding: 60px 0px;
  margin: 0px auto;
  justify-content: space-between;
  background-color: var(--white-color);

  @media screen and (min-width: $tablet) {
    // display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    // display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
}

.features__item {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;

  @media screen and (min-width: $tablet) {
    height: 251px;
  }
}

.features__board {
  display: inline-flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  margin-top: 0px;
  background-color: var(--background-button-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;

  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__subtitle {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
