.header__box-adaptive {
  @media screen and (max-width: 480px) {
    display: inline-flex;
  }
}

.header__nav-adaptive {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header__link-adaptive {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
