.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-footer-color);
  background-image: url("../images/hero/hero.mobile.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  max-width: 1600px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/hero/hero.mobile@2x.jpg");
  }

  @media screen and (min-width: $tablet) {
    background-image: url("../images/hero/hero.tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/hero/hero.tablet@2x.jpg");
    }

    @media screen and (min-width: $desktop) {
      background-image: url("../images/hero/hero.desktop.jpg");

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/hero/hero.desktop@2x.jpg");
      }
    }
  }

  .hero__box {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__title {
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 118px;
    padding-bottom: 30px;

    @media screen and (min-width: $desktop) {
      padding-top: 200px;
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .hero__button {
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--active-text-color);
    border-radius: 4px;
    border: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 118px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover,
    &:focus {
      background-color: var(--active-btn-order);
      border-radius: 4px;
      border: none;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 200px;
    }
  }
}
