.main {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main__box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}

.main__button button {
  padding: 6px 22px;
}

// .main__button:nth-child(-n + 2) {
//   margin-left: 5px;
// }

.main__button {
  margin-right: 10px;
}
