.main {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main__box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 60px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.main__button button {
  padding: 6px 22px;
}

.main__button {
  margin-right: 10px;
  margin-bottom: 10px;
}
