.is-hidden .modal {
  transform: translate(-20%, -50%);
}

.modal__checkbox {
  @media screen and (min-width: $mobile) {
    margin-left: 10px;
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 700ms ease-out;
  width: 100%;
  max-width: 450px;
  min-height: 609px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);

  @media screen and (min-width: $desktop) {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;

  &:hover {
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: none;
  }
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: var(--black-color);

  .modal__close:hover & {
    fill: var(--active-text-color);
  }
}

.modal__title {
  display: flex;
  max-width: 370px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 12px;
  margin: 0px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  @media screen and (min-width: $desktop) {
    max-width: 100%;
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 4px;
  padding-top: 0px;
}

.modal__input-bar {
  width: 100%;
}

.modal__input {
  width: 100%;
  max-width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;

  &:hover {
    border: 1px solid var(--active-text-color);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
  }

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
}

.modal__partition {
  display: block;
  margin-left: 41px;
  margin-right: 39px;
}

.modal__comment {
  width: 100%;
  max-width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  @media screen and (min-width: $mobile) {
    width: 100%;
  }
}

.modal__order {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-top: 20px;
  }
}

.modal__send {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:hover {
    background: #188ce8;
    color: var(--white-color);
  }
}

.modal__agreement {
  color: var(--second-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.modal__agreement-link {
  color: var(--active-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-decoration-line: underline;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.modal__box {
  position: relative;
}

.modal__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 14px;
  left: 15px;
  cursor: pointer;

  .modal__box:hover & {
    fill: var(--active-text-color);
  }
}
