.mosaic__box {
  display: grid;
  grid-row-gap: 30px;

  padding-left: 0px;
  margin: 0;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
}

.mosaic__component {
  margin: 0;
  padding: 0;

  &:first-child .mosaic__subtitle {
    @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
      padding-bottom: 55px;
    }
  }
}

.mosaic__tablet {
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    height: 294px;
  }
}

.mosaic__link {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.mosaic__image {
  display: block;
  // width: 100%;
  // height: 294px;
  // height: auto;
  // height: 100%;
  position: relative;
  overflow: hidden;
}

.mosaic__poster {
  display: block;
  width: 100%;
}

.mosaic__banner {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  // padding-bottom: 20px;
  // padding-right: 24px;
  // padding-left: 24px;
  padding: 0px 24px 20px 24px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 1100ms cubic-bezier(0.52, 0.21, 0.44, 0.86);
  transform: translateX(-100%);

  .mosaic__link:hover &,
  .mosaic__link:focus & {
    transition: transform 1100ms cubic-bezier(0.52, 0.21, 0.44, 0.86);
    transform: translateX(0);
  }
}

.mosaic__inscription {
  display: block;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.mosaic__title {
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 24px 4px 24px;
  margin: 0;
}

.mosaic__subtitle {
  color: var(--second-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  // padding-bottom: 20px;
  // padding-right: 24px;
  // padding-left: 24px;
  // margin-top: 0px;
  // margin-bottom: 0px;
  padding: 0px 24px 20px 24px;
  margin: 0;
}
